.splash {
  height: 100%;
  display: grid;
  grid-template-rows: min-content min-content auto min-content;
  grid-gap: 2em;
  padding: 2em;

  > * {
    margin: 0 auto;
  }

  // address
  > :nth-child(2) {
    display: flex;
  }

  // buttons
  > :last-child {
    display: flex;

    > * {
      font-size: 2em;

      // first button
      &:first-child {
        margin-right: 1em;
      }

      // second button
      &:last-child {
        margin-left: 1em;
      }
    }
  }

  h1,
  h2 {
    color: white;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 1.6em;
    margin: 0 1rem 0 0;
  }
}
