.header {
  display: grid;
  grid-template-columns: min-content min-content min-content auto min-content min-content;
  grid-gap: 2em;
  margin: 0.5em 1em;

  > * {
    margin: auto 0;

    // title
    &:nth-child(2) {
      font-weight: bold;
    }

    // title and price
    &:nth-child(2),
    &:nth-child(2) {
      white-space: nowrap;
    }
  }

  // logo
  img {
    height: 3em;
  }
}
