.tokenomics {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: min-content auto;

  h1 {
    grid-column: span 2;
    font-size: 4rem;
    color: white;
    margin: 0.5rem auto;
  }

  ul,
  img {
    margin-top: 4rem;
  }

  ul {
    margin-right: 2rem;
    margin-left: auto;
    font-size: 2rem;
  }

  img {
    margin-right: auto;
    margin-left: 2rem;
    width: 80%;
  }
}

.bold {
  font-weight: bold;
}
