.buy {
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto;
  grid-gap: 2em;

  h1 {
    margin: 0 auto;
    grid-column: span 2;
    font-size: 4rem;
    color: white;
  }

  ul {
    font-size: 2rem;
  }

  img {
    width: 100%;
    max-width: 420px;
  }
}

.bold {
  font-weight: bold;
}
