.buy {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: min-content auto;

  h1 {
    grid-column: span 2;
    font-size: 4rem;
    color: white;
    margin: 3rem auto 6rem auto;
  }

  ul,
  img {
    margin: auto;

    &:nth-child(2) {
      margin-right: 6rem;
    }
    &:last-child {
      margin-left: 6rem;
    }
  }

  ul {
    font-size: 2rem;
  }

  img {
    width: 40%;
  }
}

.bold {
  font-weight: bold;
}
