.app {
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto;

  main {
    overflow-y: scroll;
    // scroll-behavior: smooth; // TODO bug fix
    scroll-snap-type: y mandatory;

    > div {
      height: 100%;
      scroll-snap-align: center;

      &:nth-child(even) {
        background-color: #87ceeb;
      }
      &:nth-child(odd) {
        background-color: #76bee8;
      }
    }
  }
}
